Reset some default styling
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #2a2a72, #009ffd);
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    text-align: center;
    width: 400px;
}

.container img {
    width: 100px;
    margin-bottom: 1rem;
}

.container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ffde59;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.column {
    position: relative;
    width: 30%;
}

select {
    width: 100%;
    padding: 0.6rem;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
    border: none;
    outline: none;
    background: #fff;
    cursor: pointer;
    appearance: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

select option {
    color: #333;
}

.column::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    color: #333;
    pointer-events: none;
}
button.set-alarm-btn {
    margin-top: 15px;
    background-color: #ff7e5f; 
    color: white;
    font-size: 18px;
    padding: 15px 25px; 
    border: none;
    border-radius: 50px; 
    cursor: pointer; 
    
}

button.set-alarm-btn:hover {
    background-color: #feb47b;
    color: black;
}
button.stop-alarm-btn {
    margin-top: 15px;
    background-color: #ff7e5f; 
    color: white;
    font-size: 18px;
    padding: 15px 25px; 
    border: none;
    border-radius: 50px; 
    cursor: pointer; 
    
}

button.stop-alarm-btn:hover {
    background-color: #feb47b;
    color: black;
}

